.app{
  /* max-width: 80rem; */


}

.content {
  display: flex;
  /* width: 80%; */
}

.detail {
flex: 1 1 70%;
}
.list {
flex: 1 1 30%;
}

.navbar {
  display: flex;
  padding-left: 2em;
  /* align-items: space-between; */
  /* padding: 0; */
}

/* .sidebar {
  width: 100px;
} */